
<div class="container">
  <div class="avatar-dashboard">
    <%= image_tag("avatar.png") %>
    <h1><%= current_user.username.capitalize %>'s Stats</h1>
  </div>

  <section>
    <div class="create-your-topic">
    <h2 class="title-text">Create your own topic!</h2>
        <div data-controller="form">
          <%= simple_form_for @topic,
            data:  {action: 'submit->form#createCard', form_target: "form"} do |f| %>
            <div class="input-new-topic rounded-pill">
              <%= f.input :name,
                  input_html: {
                    data: {
                      form_target: "name"
                    }
                  }
              %>
              <%= f.input :category,
                  input_html: {
                    data: {
                      toggle_target: "category",
                      action: "input->create-game-btn#change",
                      form_target: "category"
                    }
                  } %>
              <%= f.button :submit, "Create topic", id: "topic-submit-button" %>
            </div>
          <% end %>
        </div>
    </div>
  </section>
  <div id="create-card-container" class="new-cards"></div>


  <%# Display completed games %>
  <div class="title-dashboard">
    <h2>Completed games</h2>
  </div>

  <% count = 0 %>
  <% @display_states_completed.each do |display_states| %>
    <div class="result-container">
      <span class="topic-and-count">
        <span class="topic-name">
          <% @topics_completed[count].each do |topic|%>
            <%= topic.name %>
          <% end %>
        </span>
        <span class="answered-count">
        <%= @correct_questions_completed[count] %>
        / <%= @completed_games[count].number_of_questions %> questions correctly!
        </span>
      </span>

        <% count += 1 %>
        <div class="progress-bar dashboard-progress-bar">
          <% display_states.each do |d| %>
            <% if d == "correct" %>
              <div class="box answered-true"></div>
            <% elsif d == "incorrect"%>
              <div class="box answered-false"></div>
            <% else %>
              <div class="box answered-empty"></div>
            <% end %>
          <% end %>
        </div>
    </div>
  <% end %>

  <%# Display open games %>
  <div class="title-dashboard">
    <h2>Open games</h2>
  </div>

  <% count = 0 %>
  <% @display_states_open.each do |display_states| %>
    <div class="result-container">
      <p>
        Your topics are:
        <% @topics_open[count].each do |topic|%>
          <%= topic.name %> ,
        <% end %>
        you answered <%= @correct_questions_open[count] %>
        / <%= @open_games[count].number_of_questions %> questions correctly.
      </p>

      <div class="progress-bar dashboard-progress-bar">
        <% display_states.each do |d| %>
          <% if d == "correct" %>
            <div class="box answered-true"></div>
          <% elsif d == "incorrect"%>
            <div class="box answered-false"></div>
          <% else %>
            <div class="box answered-empty"></div>
          <% end %>
        <% end %>
        <%= link_to "Resume", game_path(@open_games[count]) %>
        <% count += 1 %>
      </div>
    </div>
  <% end %>

</div>
