
<div class="container">

    <div class="progress-bar">
      <% @display_states.each do |d| %>
        <% if d == "correct" %>
          <div class="box answered-true"></div>
        <% elsif d == "incorrect"%>
          <div class="box answered-false"></div>
        <% else %>
          <div class="box answered-empty"></div>
        <% end %>
      <% end %>
    </div>

  <div class="answer-page-card p-2">

    <%= link_to new_game_path, class: "x-icon" do %>
      <i class="fa-regular fa-x fa-lg"></i>
    <% end %>

    <div class="mb-3">
      <h1><%= @question.content %></h1>
    </div>

    <div class="d-flex flex-md-column align-items-md-center">
      <p>Your guess</p>
      <h2><%= @guess.content %></h2>
    </div>

    <div class="mb-3">
      <% if @guess.correct == true %>
        <p>Your answer is&nbsp;<span id="green-correct">correct</span>&nbsp;!</p>
        <p class="info-p-tags"><%= @question.elaborate %></p>
      <% elsif @count > 2 %>
        <p class="info-p-tags">Your 3 guesses were incorrect. Go to next question.</p>
      <% else %>
        <p class="info-p-tags"><span id="hint-word">Hint:</span>&nbsp;<%= @hint.content %></p>
      <% end %>
    </div>

    <div>
      <%= link_to "Keep going", game_path(@guess.question.game), class: "btn-answer-page" %>
    </div>

  </div>
</div>
