



<div class= "container">
  <%= simple_form_for @game do |f| %>
    <div class="row selection-container d-flex justify-content-evenly">
      <div class="col-sm-2">
        <%= f.input :difficulty,
          as: :radio_buttons,
          input_html: { class: "difficulty-selector" },
          item_wrapper_class: 'difficulty-item',
          collection: { 'I am a begginer' => 3, 'I am smart' => 6, 'I am a genius' => 10 } %>
      </div>
      <div class="col-sm-2 questions-container">
        <%= f.input :number_of_questions,
          as: :radio_buttons,
          input_html: { class: "questions-selector" },
          item_wrapper_class: 'questions-item',
          collection: { '3' => 3, '20' => 20, '30' => 30 } %>
      </div>
      <div class="col-sm-2 topic-container">
        <label for="create_topic">Create your topic!</label>
        <%= text_field_tag :create_topic, nil, class: "create_topic", placeholder: "Your topic" %>
      </div>
      <div class="col-sm-2 friends-container">
        <label for="Invite_friends">Invite your friends!</label>
        <%= text_field_tag :create_topic, nil, class: "create_topic", placeholder: "Your topic" %>
        <%= f.input :topics, collection: @topics, input_html: { multiple: true } %>
        <%= f.button :submit, class: "create-button" %>
      </div>
    </div>
  <% end %>
</div>




<%# <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3371&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>title</h2>
      <p>name</p>
    </div>
  </div>
</div> %>
