<div class="content-navbar" >
  <div class="main-title">
    <h1>Choose Your Favourite Topic <br> and Difficulty</h1>
  </div>
</div>

<div class="container" data-controller="toggle">

  <div data-controller="loading">
    <div class="d-flex justify-content-center d-none" data-loading-target="spinner">
        <div class="spinner-border text-light loading" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <%= simple_form_for @game do |f| %>
        <div class="row new-dashboard">

          <div class="col-sm-5" id="difficulty">
            <%= f.input :difficulty,
              label: "Game difficuty",
              as: :radio_buttons,
              input_html: {
                class: "difficulty-selector",
                data: {
                  toggle_target: "difficulty",
                  action: "change->toggle#change"
                }
              },
              item_wrapper_class: 'difficulty-item',
              collection: { 'I am a beginner' => 1, 'I am smart' => 2, 'I am a genius' => 3 } %>
          </div>
          <div class="col-sm-5" id="questions">
            <%= f.input :number_of_questions,
              as: :radio_buttons,
              input_html: {
                class: "questions-selector",
                data: {
                  toggle_target: "questions",
                  action: "change->toggle#change"
                }
              },
              item_wrapper_class: 'questions-item',
              collection: { '3' => 3, '5' => 5, '10' => 10, '15' => 15 } %>
          </div>
            <%= f.button :submit, "Play", class: "col-sm-2 start-button d-none",
            data: {  action: "click->loading#toggle", toggle_target: "startButton" } %>
          </div>
        <div class="under-grid">
          <div class="card-grid">
            <% @topics.order(id: :desc).each_with_index do |topic, index| %>
              <label class="card-trip topic-selection" id="topic-<%= index + 1%>">
                <% image_url = "https://source.unsplash.com/featured/?#{topic.name}" %>
                <img src="<%= image_url %>" />
                  <div class="card-trip-infos">
                    <h2><%= topic.category %></h2>
                    <p><%= topic.name %></p>
                    <%= f.input :topics,
                      as: :boolean,
                      checked_value: topic.id,
                      unchecked_value: nil,
                      input_html: {
                        name: "game[topics][]",
                        id: "game_topics_#{topic.id}" ,
                        class: "invisible topic-checkbox-card",
                        data: { action: "change->toggle#toggle" , id: "topic-#{index + 1}",
                        toggle_target: "topics",
                        }
                      },
                      label_html: {class: "d-none"} %>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
