

<div data-controller="guesses" class="show-page-card">
  <div>
    <%= @question.content %>
  </div>
  <%= simple_form_for @guess, url: { controller: 'guesses', action: 'create' } do |f| %>
    <%= f.input :question_id, as: :hidden, input_html: { value: @question.id, id: 'question-id-input' } %>
    <%= f.input :content, label: "Your Guess:", input_html: { id: 'content-input' } %>
    <%= f.button :submit, "Guess", id: "guess-submit-button" %>
  <% end %>
</div>


  <%# ADD EMPTY DIV FOR API GUESS RESPONSE %>

  <%# HINTS %>

  <%# INPUT FIELD FOR USER %>



  <%# , data: { guesses_target: "form", action: "submit->guesses#send" } %>
