
<div class="container-game">

  <div>
    <p class="guesses-left">You have <span style="color: #895cd1; text-shadow: 0 0.5px 0.5px #FFFFFF; font-size:25px;"> <%= @guesses_left %> </span> guesses left</p>
  </div>

  <div class="progress-bar">
    <% @display_states.each do |d| %>
      <% if d == "correct" %>
        <div class="box answered-true"></div>
      <% elsif d == "incorrect"%>
        <div class="box answered-false"></div>
      <% else %>
        <div class="box answered-empty"></div>
      <% end %>
    <% end %>
  </div>

  <div class="show-page-card">

    <%= link_to new_game_path, class: "x-icon" do %>
      <i class="fa-regular fa-x fa-lg"></i>
    <% end %>

    <div>
      <h1 id="q-header"><%= @question.content %></h1>
    </div>

    <%= simple_form_for @guess, url: { controller: 'guesses', action: 'create' } do |f| %>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <%= f.input :question_id, as: :hidden, input_html: { value: @question.id, id: 'question-id-input' } %>
        <%= f.input :content, label: false, input_html: { placeholder: 'Your answer?', id: 'content-input' } %>
        <button type="submit" class="btn-hover" name="commit" value="Guess">
          <i class="fa-solid fa-arrow-right"></i>
        </button>

        <%= link_to add_guesses_game_path(@game), class: 'btn btn-primary-skip' do %>
          <i class="fa-solid fa-play" style="color: #ffffff;"></i> Skip-question
        <% end %>


      </div>
    <% end %>

  </div>
</div>



  <%# ADD EMPTY DIV FOR API GUESS RESPONSE %>

  <%# HINTS %>

  <%# INPUT FIELD FOR USER %>



  <%# , data: { guesses_target: "form", action: "submit->guesses#send" } %>
