
<div class="container">
  <div data-controller="guesses" class="show-page-card">

    <%= link_to new_game_path, class: "x-icon" do %>
      <i class="fa-regular fa-x fa-lg" style="color: #cfcfcf;"></i>
    <% end %>

    <div>
      <h1 id="q-header"><%= @question.content %></h1>
    </div>

    <%= simple_form_for @guess, url: { controller: 'guesses', action: 'create' } do |f| %>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <%= f.input :question_id, as: :hidden, input_html: { value: @question.id, id: 'question-id-input' } %>
        <%= f.input :content, label: false, input_html: { placeholder: 'Your answer?', id: 'content-input' } %>
        <button type="submit" id="guess-submit-button" name="commit" value="Guess">
  <i class="fa-solid fa-play" style="color: #ffffff;"></i>
</button>

      </div>
    <% end %>

  </div>
</div>



  <%# ADD EMPTY DIV FOR API GUESS RESPONSE %>

  <%# HINTS %>

  <%# INPUT FIELD FOR USER %>



  <%# , data: { guesses_target: "form", action: "submit->guesses#send" } %>
