<div class="card_container">
  <div class="title_summary">
    <h1>Congratulations!</h1>

    <section class="summary_card">
      <%= image_tag "avatar.png", class: "avatar-card" %>
      <div class="content">
          <p class="p_title">Your Result</p>

        <div class="score">
          <p style="margin-bottom: 0px"><%= @correct_questions %>/<%= @game.number_of_questions %></p>
        </div>
          <% if @correct_any == true %>
            <p class="p_title">It took you  <%= @guesses_per_correct_answer %> guesses per question</p>
          <% else %>
            <p class="p_title">You have no correct answers!</p>
          <% end %>
      </div>
      <%= link_to new_game_path, class: "btn-new-summary" do %>
          <p>Play again</p>
        <% end %>
      <div class="">
        <% @questions.each do |question| %>
          <p><%= question.content %></p>
          <p>Answer: <%= question.answer %> /
          <% if question.guesses.last.content.nil? %>
          <span class="answer-false">You skipped the question</span>
          <% elsif question.guesses.last.correct %>
            Your answer: <span id="answer-true"><%= question.guesses.last.content %></p></span>
          <% else %>
            Your answer: <span class="answer-false"><%= question.guesses.last.content %></p></span>
          <% end %>
        <% end %>
      </div>
    </section>

  </div>
</div>
