<!DOCTYPE html>
<html>
  <head>
    <title>FutureGenerations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  </head>

  <body>
  <%#  <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
      <div class="content-navbar">
        <%= yield %>
      </div>
    <%= render "shared/footer" %>
  </body>
</html>
